<template>
    <div class="principal-box-login">

        <transition name="fade" mode="out-in">
            <Step1 v-if="step == 1" @prox="proxFunction" />
            <Step2 v-else-if="step == 2" @prox="proxFunction" />
            <Step3 v-else-if="step == 3" @prox="proxFunction" />
            <Step4 v-else-if="step == 4" @prox="proxFunction" />
        </transition>

    </div>
</template>

<script>
import Step1 from './partials/Step1.vue';
import Step2 from './partials/Step2.vue';
import Step3 from './partials/Step3.vue';
import Step4 from './partials/Step4.vue';

export default {
    name: 'StepsCheck',

    components: {
        Step1, Step2, Step3, Step4,
    },

    data() {
        return {
            step: 1,
        }
    },

    methods: {
        proxFunction() {
            if (this.step < 4) {
                this.step++;
            } else {
                this.$router.push({ name: 'Home' });
            }
        },
    },
}
</script>

<style lang="scss" scoped>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

    .principal-box-login {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 30px;
        height: 100vh;


        .fade-enter-active {
            animation: slide-in 1s ease;
            transition: opacity 1s;
        }
        .fade-leave-active {
            position: absolute;
            width: 100%;
            animation: slide-out 1s ease;
            transition: opacity 1s;
        }
        .fade-enter, .fade-leave-to {
            opacity: 0;
        }
        .fade-enter-active, .fade-leave-active {
            transition: opacity 2s transform 2s;
        }
    }
</style>