<template>
    <div class="principal-box">
        <h2>Lista do que a Colonada está precisando ou oferecendo!</h2>

        <div v-for="(colono, i) in colonos" :key="i" class="card">
            <span class="nome">{{ colono.nome }}</span>

            <span class="intencao">{{ colono.intencao }}</span>

            <button class="btn-help">Posso ajudar</button>

            <span class="distancia">{{ colono.nome }} está a {{ colono.distancia }} de você</span>
        </div>

        <button style="margin-top: 80px;">Oferecer algo para a Colonada</button>
        <button class="orange" @click="$router.push({ name: 'Home' })">Voltar</button>
    </div>
</template>

<script>
export default {
    name: 'ListaColonada',

    data() {
        return {
            colonos: [
                {
                    nome: 'Judite dos Santos',
                    intencao: 'Está procurando terrenos vagos',
                    distancia: '15km',
                },
                {
                    nome: 'Cláudionor Ferreira',
                    intencao: 'Está buscando por pessoas',
                    distancia: '42km',
                },
            ],
        }
    },
}
</script>

<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

.principal-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 30px;
    height: 100vh;

    font-family: 'Roboto', sans-serif;

    h2 {
        margin-bottom: 25px;
        font-size: 24px;
        text-align: center;
        
        font-weight: 400;
    }

    button {
        padding: 5px 32px;
        margin-bottom: 18px;
        width: auto;
        height: 25px;

        border: none;
        border-radius: 10px;
        outline: none;

        font-size: 13px;

        color: #FFFFFF;
        background-color: #128C1E;

        &:hover {
            background-color: #128c1eaf;
            transition: 500ms ease;
        }
        
        &.orange {
            background-color: #FF7A00;

            &:hover {
                background-color: #ff7b00c9;
                transition: 500ms ease;
            }
        }
    }

    .card {
        width: 243px;
        margin: 20px 0px;
        padding: 8px;
        
        border-radius: 10px;
        background-color: #CDAB5D;
        color: #FFFFFF;

        display: flex;
        flex-direction: column;
        align-items: center;

        font-weight: 400;

        .nome {
            font-size: 21px;
            margin-bottom: 13px;
        }

        .intencao {
            font-size: 13px;
            margin-bottom: 7px;
        }

        .distancia {
            font-size: 15px;
        }
    }

    .field{
        display: flex;
        flex-direction: column;
        width: 100%;

        margin-bottom: 18px;
        padding: 0px 30px;
        
        .lbl-field {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 10px;
        }
        .inpt-field {
            width: 100%;
            padding: 7px 13px;

            outline: none;
            border: none;
            border-radius: 10px;

            color: #808080;
            background: rgba(196, 196, 196, 0.5);

            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 18px;
        }
    }

    .txt-forgot-password {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 18px;

        display: flex;

        .redirect-link {
            margin-left: 3px;
            color: #128C1E;
            cursor: pointer;
        }
    }

    .btn-login {
        padding: 12px 53px;
        margin: 50px 40px;
        width: auto;
        height: 53px;

        border: none;
        border-radius: 10px;
        outline: none;

        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 26px;

        color: #FFFFFF;
        background-color: #128C1E;

        &:hover {
            background-color: #128c1eaf;
            transition: 500ms ease;
        }
    }

    .txt-register {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 20px;

        color: #128C1E;

        .redirect-link {
            cursor: pointer;
        }
    }
}
</style>