<template>
    <div class="principal-box">
        <img src="@/assets/recursos1.png" >

        <h2>O que você tem a oferecer ou que está precisando</h2>

        <div class="switch-option">
            <span>Estou precisando</span>

            <div class="ball"></div>
        </div>

        <div class="checkbox-field">
            <div class="box" @click.capture="checkMethod($event, 'maoDeObra')">
                <img v-if="checkMaoDeObra" width="22px" src="@/assets/img_steps_check/checkV.svg">
            </div>
            <span>Mão de obra</span>
        </div>
        <input v-if="checkMaoDeObra" type="text" placeholder="Digite qual/quais mão(s) de obra(s)" class="inpt-field">

        <div class="checkbox-field">
            <div class="box" @click.capture="checkMethod($event, 'insumos')">
                <img v-if="checkInsumos" width="22px" src="@/assets/img_steps_check/checkV.svg">
            </div>
            <span>Insumos</span>
        </div>
        <input v-if="checkInsumos" type="text" placeholder="Digite qual/quais insumo(s)" class="inpt-field">

        <div class="checkbox-field">
            <div class="box" @click.capture="checkMethod($event, 'terreno')">
                <img v-if="checkTerreno" width="22px" src="@/assets/img_steps_check/checkV.svg">
            </div>
            <span>Terreno</span>
        </div>
        <input v-if="checkTerreno" type="text" placeholder="Quantos hectares disponiveis" class="inpt-field">

        <div class="checkbox-field" >
            <div class="box" @click.capture="checkMethod($event, 'depositoParaInsumos')">
                <img v-if="checkDeposito" width="22px" src="@/assets/img_steps_check/checkV.svg">
            </div>
            <span>Depósito para insumos</span>
        </div>
        <input v-if="checkDeposito" type="text" placeholder="Digite qual/quais depósito(s)" class="inpt-field">

        <button style="margin-top: 10px">Salvar na Colonada</button>
        <button class="orange" @click="$router.push({ name: 'Home' })">Voltar</button>

        <span>Possui dúvidas de como funciona?</span>
        <span class="end-span">Acessar as Política de Privacidade</span>
    </div>
</template>

<script>
export default {
    name: 'Oferecimentos',

    data() {
        return {
            checkMaoDeObra: false,
            checkInsumos: false,
            checkTerreno: false,
            checkDeposito: false,
        }
    },

    methods: {
        checkMethod($event, option) {
            if (option == 'maoDeObra') {
                this.checkMaoDeObra = !this.checkMaoDeObra;
            } else if (option == 'insumos') {
                this.checkInsumos = !this.checkInsumos;
            }  else if (option == 'terreno') {
                this.checkTerreno = !this.checkTerreno;
            }  else if (option == 'depositoParaInsumos') {
                this.checkDeposito = !this.checkDeposito;
            }
        },
    },
}
</script>

<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

.principal-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 30px;
    height: 100vh;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    h2 {
        font-size: 24px;
        font-weight: 400;
        text-align: center;

        margin-top: 20px;
    }

    button {
        padding: 5px 32px;
        margin-bottom: 18px;
        width: auto;
        height: 34px;

        border: none;
        border-radius: 10px;
        outline: none;

        font-size: 20px;

        color: #FFFFFF;
        background-color: #128C1E;

        &:hover {
            background-color: #128c1eaf;
            transition: 500ms ease;
        }
        
        &.orange {
            background-color: #FF7A00;

            &:hover {
                background-color: #ff7b00c9;
                transition: 500ms ease;
            }
        }
    }

    .switch-option {
        position: relative;
        display: flex;
        justify-content: center;
        background-color: #128C1E;
        border-radius: 30px;
        width: 80%;
        padding: 5px 0px;

        margin-top: 30px;

        span {
            color: #FFFFFF;
        }

        .ball {
            position: absolute;
            right: 0;
            bottom: 0px;

            width: 35px;
            height: 100%;

            background-color: #CDAB5D;
            border-radius: 50%;
        }
    }

    .checkbox-field {
        display: flex;
        width: 100%;
        column-gap: 5px;
        margin: 10px 0px;

        .box {
            width: 23px;
            height: 23px;

            border: 2px solid #FF7A00;
        }

        span {
            font-size: 22px;
        }
    }

    .inpt-field {
        width: 100%;
        padding: 7px 13px;

        outline: none;
        border: none;
        border-radius: 10px;

        color: #808080;
        background: rgba(196, 196, 196, 0.5);

        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 18px;
    }

    .end-span {
        font-size: 18px;
    }
}
</style>